<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/r" factory-class="de.mpicbg.knime.scripting.r.RSnippetNodeFactory"/>

        <node
              after="de.mpicbg.knime.scripting.r.node.plot.RPlotNodeFactory"
              category-path="/community/r"
              factory-class="de.mpicbg.knime.scripting.r.node.openinr.OpenInRNodeFactory2"/>

        <node
              after="de.mpicbg.knime.scripting.r.RSnippetNodeFactory"
              category-path="/community/r"
              factory-class="de.mpicbg.knime.scripting.r.node.plot.RPlotNodeFactory"/>

        <node
              after="de.mpicbg.knime.scripting.r.node.plot.RPlotNodeFactory"
              category-path="/community/r"
              factory-class="de.mpicbg.knime.scripting.r.node.snippet21.RSnippetNodeFactory21"/>

        <!-- register the generic R nodes -->

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.node.generic.snippet.GenericRSnippetNodeFactory2"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.node.generic.source.GenericRSnippetSourceFactory2"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.node.generic.openinr.GenericOpenInRNodeFactory2"/>

        <node
              category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.node.generic.converttogeneric.ConvertToGenericRFactory2"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.node.generic.converttotable.ConvertToTableNodeFactory2"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.node.generic.plot.GenericRPlotFactory2"/>


        <!-- utils -->
        <node category-path="/community/r/utils"
              factory-class="de.mpicbg.knime.scripting.r.utils.FixColumnsNamesNodeFactory"/>
              
        <!-- deprecated nodes 
        
        >> replaced by version 2
        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.generic.GenericRSnippetSourceFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericRSnippetSourceFactory"/> 
              
       	<node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.generic.ConvertToTableFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.ConvertToTableFactory"/>
              
        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.generic.GenericOpenInRNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericOpenInRNodeFactory"/>
              
        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.knime.scripting.r.generic.GenericRPlotFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericRPlotFactory"/>

		>> not needed anymore
        <node category-path="/community/r/utils"
              factory-class="de.mpicbg.tds.knime.scripting.r.RPlotWithImPortNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.RPlotWithImPortNodeFactory"/> 
              
        -->




    </extension>

    <extension point="org.knime.workbench.repository.categories">
        <!--<category level-id="scripting" name="Scripting" path="/"/>-->
        <category
              icon="resources/r_icon_snippets.png"
              level-id="r"
              name="R Scripting"
              path="/community"/>
        <category
              icon="resources/rgeneric_icon.png"
              level-id="genericr"
              name="Generic R"
              path="/community/r"/>
        <category
              icon="resources/tool-icon.png"
              level-id="utils"
              name="Utils"
              path="/community/r"/>
    </extension>

    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="de.mpicbg.knime.scripting.r.prefs.RPreferenceInitializer">
        </initializer>
    </extension>


    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                category="org.knime.workbench.ui.preferences"
                class="de.mpicbg.knime.scripting.r.prefs.RPreferencePage"
                id="de.mpicbg.tds.knime.scripting.r.prefs.RPreferencePage"
                name="R-Scripting">
        </page>
    </extension>
    <extension
          point="org.knime.product.splashExtension">
       <splashExtension
             icon="resources/ricon48.png"
             id="R"
             tooltip="An integration of R into Knime">
       </splashExtension>
    </extension>
    <extension
          point="org.knime.core.PortType">
       <portType
             color="#000000"
             hidden="false"
             name="de.mpicbg.knime.scripting.r.port.RPortType2"
             objectClass="de.mpicbg.knime.scripting.r.port.RPortObject2"
             objectSerializer="de.mpicbg.knime.scripting.r.port.RPortObjectSerializer2"
             specClass="de.mpicbg.knime.scripting.r.port.RPortObjectSpec2"
             specSerializer="de.mpicbg.knime.scripting.r.port.RPortObjectSpec2$SpecSerializer">
       </portType>
    </extension>

    <!-- disabled because it looks the same as the r-extenion splash icon from the knime r-extension -->
    <!--<extension point="org.knime.product.splashExtension">-->
    <!--<splashExtension-->
    <!--icon="resources/ricon.png"-->
    <!--id="R"-->
    <!--tooltip="User-friendly R-integration into Knime">-->
    <!--</splashExtension>-->
    <!--</extension>-->

</plugin>
