<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!-- This is an example for providing an own category
       <extension
          point="org.knime.workbench.repository.categories">
       <category
             description="Category containing my nodes"
             icon="icons/default.png"
             level-id="myNodes"
             name="My nodes"
             path="/"/>
    </extension>
    -->


    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="community/matlab"
              factory-class="de.mpicbg.knime.scripting.matlab.snippet.MatlabSnippetNodeFactory"
              id="de.mpicbg.knime.scripting.matlab.MatlabSnippetNodeFactory"/>

        <node category-path="/community/matlab"
              factory-class="de.mpicbg.knime.scripting.matlab.open.OpenInMatlabFactory"
              id="de.mpicbg.knime.scripting.matlab.OpenInMatlabFactory"/>

        <node category-path="/community/matlab"
              factory-class="de.mpicbg.knime.scripting.matlab.plots.MatlabPlotNodeFactory"
              id="de.mpicbg.knime.scripting.matlab.plots.MatlabPlotNodeFactory"/>
    </extension>

    <extension point="org.knime.workbench.repository.categories">
        <!--<category level-id="scripting" name="Scripting" path="/"/>-->
        <category icon="resources/matlabicon.png" level-id="matlab" name="Matlab Scripting" path="/community"/>
    </extension>


    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="de.mpicbg.knime.scripting.matlab.prefs.MatlabPreferenceInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.knime.workbench.ui.preferences"
              class="de.mpicbg.knime.scripting.matlab.prefs.MatlabPreferencePage"
              id="de.mpicbg.knime.scripting.matlab.prefs.MatlabPreferencePage"
              name="Matlab Scripting">
        </page>
    </extension>


    <extension point="org.knime.product.splashExtension">
        <splashExtension
                icon="resources/matlabicon.png"
                id="Matlab"
                tooltip="Some tools to ease HCS analysis">
        </splashExtension>
    </extension>


</plugin>
