<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!-- This is an example for providing an own category
       <extension
          point="org.knime.workbench.repository.categories">
       <category
             description="Category containing my nodes"
             icon="icons/default.png"
             level-id="myNodes"
             name="My nodes"
             path="/"/>
    </extension>
    -->

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/r" factory-class="de.mpicbg.tds.knime.scripting.r.RSnippetNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.RSnippetNodeFactory"/>


        <node category-path="/community/r" factory-class="de.mpicbg.tds.knime.scripting.r.OpenInRNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.OpenInRNodeFactory"/>

        <node category-path="/community/r" factory-class="de.mpicbg.tds.knime.scripting.r.RPlotNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.RPlotNodeFactory"/>

        <node category-path="/community/r" factory-class="de.mpicbg.tds.knime.scripting.r.RSnippetNodeFactory21"
              id="de.mpicbg.tds.knime.scripting.r.RSnippetNodeFactory21"/>


        <!-- register the generic R nodes -->

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.tds.knime.scripting.r.genericr.GenericRSnippetFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericRSnippetFactory"/>


        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.tds.knime.scripting.r.genericr.GenericRSnippetSourceFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericRSnippetSourceFactory"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.tds.knime.scripting.r.genericr.GenericOpenInRNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericOpenInRNodeFactory"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.tds.knime.scripting.r.genericr.ConvertToGenericRFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.ConvertToGenericRFactory"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.tds.knime.scripting.r.genericr.ConvertToTableFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.ConvertToTableFactory"/>

        <node category-path="/community/r/genericr"
              factory-class="de.mpicbg.tds.knime.scripting.r.genericr.GenericRPlotFactory"
              id="de.mpicbg.tds.knime.scripting.r.genericr.GenericRPlotFactory"/>


        <!-- utils -->
        <node category-path="/community/r/utils"
              factory-class="de.mpicbg.tds.knime.scripting.r.utils.FixColumnsNamesNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.utils.FixColumnsNamesNodeFactory"/>

        <!-- <node category-path="/community/r/utils"
              factory-class="de.mpicbg.tds.knime.scripting.r.RPlotWithImPortNodeFactory"
              id="de.mpicbg.tds.knime.scripting.r.RPlotWithImPortNodeFactory"/> -->


        <!-- examples of node-deployed templates -->
        <!--TODO disable these before going to production -->
        <!--<node category-path="/community/r"-->
        <!--factory-class="de.mpicbg.tds.knime.scripting.r.templatenodes.rgg.ScatterPlotGridFactory"-->
        <!--id="de.mpicbg.tds.knime.scripting.r.templatenodes.rgg.ScatterPlotGridFactory"/>-->


    </extension>

    <extension point="org.knime.workbench.repository.categories">
        <!--<category level-id="scripting" name="Scripting" path="/"/>-->
        <category level-id="r" name="R Scripting" path="/community"/>
        <category level-id="genericr" name="Generic R" path="/community/r"/>
        <category level-id="utils" name="Utils" path="/community/r"/>
    </extension>

    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="de.mpicbg.tds.knime.scripting.r.prefs.RPreferenceInitializer">
        </initializer>
    </extension>


    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                category="org.knime.workbench.ui.preferences"
                class="de.mpicbg.tds.knime.scripting.r.prefs.RPreferencePage"
                id="de.mpicbg.tds.knime.scripting.r.prefs.RPreferencePage"
                name="R-Scripting">
        </page>
    </extension>

    <!-- disabled because it looks the same as the r-extenion splash icon from the knime r-extension -->
    <!--<extension point="org.knime.product.splashExtension">-->
    <!--<splashExtension-->
    <!--icon="resources/ricon.png"-->
    <!--id="R"-->
    <!--tooltip="User-friendly R-integration into Knime">-->
    <!--</splashExtension>-->
    <!--</extension>-->

</plugin>
