<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.mpicbg.knime.scripting.core.prefs.ScriptingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="de.mpicbg.knime.scripting.core.prefs.ScriptingPreferencePage"
            id="de.mpicbg.knime.scripting.core.prefs.ScriptingPreferencePage"
            name="Community Scripting">
      </page>
      <page
            category="de.mpicbg.knime.scripting.core.prefs.ScriptingPreferencePage"
            class="de.mpicbg.knime.scripting.core.prefs.JupyterPreferencePage"
            id="de.mpicbg.knime.scripting.core.prefs.JupyterPreferencePage"
            name="Jupyter Settings">
      </page>
   </extension>

</plugin>
