<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!--<extension point="org.knime.workbench.repository.nodes">-->

    <!--&lt;!&ndash;utilities&ndash;&gt;-->
    <!--<node category-path="/io/read"-->
    <!--factory-class="de.mpicbg.tds.knime.knutils.io.ExcelReaderFactory"-->
    <!--id="de.mpicbg.tds.knime.knutils.io.ExcelReaderFactory"/>-->


    <!--<node category-path="/io/write"-->
    <!--factory-class="de.mpicbg.tds.knime.knutils.io.ExcelWriterFactory"-->
    <!--id="de.mpicbg.tds.knime.knutils.io.ExcelReaderFactorExcelWriterFactoryy"/>-->


    <!--</extension>-->

    <!--<extension point="org.knime.workbench.repository.categories">-->

    <!--<category icon="icons/category_basic.gif" level-id="scripting" name="Scripting" path="/misc"/>-->

    <!--</extension>-->

</plugin>
